#contenedor {
    background-color:blue;
    padding: 20px;
}

#datos {
    background-color:rgb(255, 238, 0);
    text-align: center;
    padding: 10px;
}

.form-group{
    padding: 50px;
    font-size: 25px;
    margin: 10px;
}

#canvas{
    background-color: chartreuse;
}

#puntaje {
    background-color: rgb(206, 208, 212);
    height: 100px;
    font-size: 80px;
    text-align: center;
}

/* Añade esto a tu index.css */
#jugador-info {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

#puntaje {
    font-size: 1.5em;
    color: #2c3e50;
}